.header__lang-link {
  width: 30px;
  height: 28px;
  font-size: 24px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: Normal;
  align-self: center;
  line-height: 1.2;
}

.header__lang-link:hover {
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    width: 22px;
    height: 20px;
    font-size: 18px;
    line-height: 1.1;
  }
}
