.header__lang-link {
  font-size: 24px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: Normal;
  align-self: center;
  line-height: 1.2;
  color: white;
  text-decoration: none;
}

.header__lang-link:hover {
  cursor: pointer;
  opacity: .8;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.1;
  }
}
