.lead {
  padding: 21px 148px 0;
  width: min(100%, 1280px);
  box-sizing: border-box;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding: 48px 48px 0;
    width: min(100%, 1024px);
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 48px 0 0;
    width: min(100%, 768px);
  }
}

@media screen and (max-width: 320px) {
  .lead {
    width: min(100%, 320px);
  }
}
