.place__paragraphs {
  display: grid;
  grid-column: 2;
  gap: 26px;
  grid-template-rows: min-content;
  margin-top: 48px;
  width: min(100%, 484px);
}

@media screen and (max-width: 700px) {
  .place__paragraphs {
    grid-area: paragraphs;
    grid-row: 4;
    grid-column: 1;
    margin: 0;
    gap: 25px;
    box-sizing: border-box;
    padding: 32px 16px 0;
  }
}
