.body {
  background-color: #2A2C2F;
}

.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-font-feature-settings: "kern" 1;
  font-feature-settings: "kern";
  max-width: 1280px;
  font-family: 'Inter', 'Arial', sans-serif;
  color: white;
}

.page_magrin_auto {
  margin: 0 auto;
}

.page__section {
  margin: 0 auto;
}

.header {
  display: grid;
  padding: 15px 48px 0;
  width: 100%;
  max-width: 1280px;
  height: 115px;
  box-sizing: border-box;
  grid-template-columns: 176px 1fr 30px 18px 30px;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 28px 48px 0;
    height: 80px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 16px 16px 0;
    height: 58px;
  }
}

.header__logo {
  width: 176px;
  height: 52px;
  grid-column: 1;
  align-self: center;
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
    grid-column: 1;
    align-self: center;
  }
}

.header__lang-link {
  width: 30px;
  height: 28px;
  font-size: 24px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: Normal;
  align-self: center;
  line-height: 1.2;
}

.header__lang-link:hover {
  cursor: pointer;
}

.header__lang-link_grid-column_3 {
  grid-column: 3;
}

.header__lang-link_grid-column_5 {
  grid-column: 5;
}

.header__lang-link_text-deco_underline {
  text-decoration: underline;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    width: 22px;
    height: 20px;
    font-size: 18px;
    line-height: 1.1;
  }
}

.lead {
  padding: 21px 148px 0;
  width: min(100%, 1280px);
  box-sizing: border-box;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding: 48px 48px 0;
    width: min(100%, 1024px);
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 48px 0 0;
    width: min(100%, 768px);
  }
}

@media screen and (max-width: 320px) {
  .lead {
    padding: 48px 0 0;
    width: min(100%, 320px);
  }
}

.lead__title {
  width: min(100%, 720px);
  font-size: 96px;
  font-weight: 900;
  font-family: 'Inter', 'Arial', sans-serif;
  margin: 0 auto;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: calc((100vw - 320px) / (768 - 320) * (96 - 40) + 40px); /* 40px */
    line-height: 1.1;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    width: min(100%, 288px);
    font-size: 40px;
    line-height: 1.1;
  }
}

.lead__subtitle {
  margin: 32px auto 64px;
  line-height: 1.2;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: Normal;
  font-size: 30px;
  width: min(100%, 640px);
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 32px auto 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: calc((100vw - 320px) / (768 - 320) * (30 - 16) + 16px);
    margin: calc((100vw - 320px) / (768 - 320) * (32 - 16) + 16px) auto calc((100vw - 320px) / (768 - 320) * (56 - 40) + 40px);
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin: 16px auto 40px;
    line-height: 1.2;
    font-size: 16px;
    width: min(100%, 288px);
  }
}

.lead__image {
  margin: 0 auto;
  width: min(100%, 984px);
}

@media screen and (max-width: 1024px) {
  .lead__image {
    width: min(100%, 928px);
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: min(100%, 768px);
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    width: min(100%, 320px);
  }
}

.lead__caption {
  margin: 8px 0 0 0;
  width: 158px;
  line-height: 1.4;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: Normal;
  font-size: 10px;
  text-align: start;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin: 8px 0 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin: 8px 0 0 16px;
  }
}

.intro {
  padding: 92px 0 0 142px;
  display: grid;
  grid-template-columns: minmax(min-content, 720px);
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 92px 0 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: calc((100vw - 320px) / (768 - 320) * (88 - 64) + 64px) calc((100vw - 320px) / (768 - 320) * (24 - 16) + 16px) 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    grid-template-columns: minmax(min-content, 288px);
    padding: 64px 16px 0;
  }
}

.intro__title {
  line-height: 1.1;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 54px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: calc((100vw - 320px) / (768 - 320) * (54 - 32) + 32px);
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
  }
}

.intro__text {
  line-height: 1.6;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: Normal;
  font-size: 16px;
  margin: 40px 0 33px;
}

.intro__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.intro__list-item {
  line-height: 1.5;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: Normal;
  font-size: 12px;
}

.intro__list-accent {
  font-weight: 700;
}

.photo-grid {
  padding: 92px 48px 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, max-content));
  grid-gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    padding: 92px 48px 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    padding: 88px 24px 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    padding: 64px 16px 0;
    display: grid;
    grid-template-columns: repeat(1, minmax(min-content, max-content));
    grid-gap: 12px;
  }
}

.photo-grid__item {
  width: min(100%, 284px);
}

@media screen and (max-width: 1024px) {
  .photo-grid__item {
    width: min(100%, 300px);
  }
}

@media screen and (max-width: 768px) {
  .photo-grid__item {
    width: min(100%, 352px);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid__item {
    width: min(100%, 288px);
  }
}

.places {
  padding: 92px 148px 0;
  display: grid;
  grid-gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 92px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding: 88px 24px 0;
    grid-gap: 73px;
  }
}

@media screen and (max-width: 700px) {
  .places {
    padding: 64px 0 0;
    grid-gap: 50px;
  }
}

.place {
  display: grid;
  grid-template-columns: minmax(min-content, 460px) 1fr;
  grid-template-rows: auto 1fr;
  width: min(100%, calc(984px + 148px));
  grid-column-gap: 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(min-content, 440px) 1fr;
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(min-content, 340px) 1fr;
    grid-column-gap: 28px;
  }
}

@media screen and (max-width: 700px) {
  .place {
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
  "title"
  "website"
  "image"
  "paragraphs";
  }
}

.place__title {
  margin: 0;
  grid-column: 1;
  line-height: 1.1;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 72px;

}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 700px) {
  .place__title {
    grid-area: title;
    grid-row: 1;
    grid-column: 1;
    padding-left: 16px;
    font-size: 32px;
    line-height: 1.1;
  }
}

.place__image {
  grid-column: 1;
  width: min(100%, 460px);
  margin-top: 48px;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: min(100%, 440px);
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    width: min(100%, 340px);
  }
}

@media screen and (max-width: 700px) {
  .place__image {
    grid-area: image;
    grid-row: 3;
    grid-column: 1;
    margin: 0;
    width: min(100%, 700px);
  }
}

.place__website {
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  display: grid;
}

@media screen and (max-width: 700px) {
  .place__website {
    grid-area: website;
    grid-row: 2;
    grid-column: 1;
    padding: 32px 16px;
  }
}

.place__url-heading {
  margin: 0;
  line-height: 1;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: Normal;
  font-size: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.place__link {
  color: white;
  line-height: 1.2;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: Normal;
  font-size: 18px;
  margin-top: 12px;
}

.place__link:hover {
  cursor: pointer;
}

.place__paragraphs {
  display: grid;
  grid-column: 2;
  grid-gap: 26px;
  grid-template-rows: auto 1fr;
  margin-top: 48px;
  width: min(100%, 484px);
}

@media screen and (max-width: 700px) {
  .place__paragraphs {
    grid-area: paragraphs;
    grid-row: 4;
    grid-column: 1;
    margin: 0;
    grid-gap: 25px;
    box-sizing: border-box;
    padding: 32px 16px 0;
  }
}

.place__paragraph {
  margin: 0;
  line-height: 1.6;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: Normal;
  font-size: 18px;
}

.cover {
  position: relative;
  width: min(100%, 1184px);
  height: 740px;
  display: grid;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 1024px) {
  .cover {
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    height: calc((100vw - 320px) / (768 - 320) * (480 - 200) + 200px);
  }
}

@media screen and (max-width: 320px) {
  .cover {
    height: 200px;
  }
}

.cover__image {
  width: min(100%, 1184px);
  position: absolute;
}

.cover_margin_auto {
  margin: 92px auto;
}

@media screen and (max-width: 768px) {
  .cover_margin_auto {
    margin: 90px auto 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover_margin_auto {
    margin: 66px auto 64px;
  }
}

.cover__descriprion {
  position: absolute;
  width: min(100%, 560px);
  text-align: center;
  display: grid;
  justify-items: center;
  z-index: 1;
}

@media screen and (max-width: 320px) {
  .cover__descriprion {
    width: min(100%, 288px);
  }
}

.cover__title {
  line-height: 1;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 72px;
  margin: 0;
}


@media screen and (max-width: 768px) {
  .cover__title {
    font-size: calc((100vw - 320px) / (768 - 320) * (72 - 32) + 32px); /* 32 */
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.1;
    width: min(100%, 250px);
  }
}

.cover__subtitle {
  line-height: 1.2;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: Normal;
  font-size: 18px;
  width: min(100%, 360px);
  margin: 32px 0 0 0;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    font-size: calc((100vw - 320px) / (768 - 320) * (18 - 14) + 14px);
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    width: min(100%, 288px);
    font-size: 14px;
    line-height: 1.1;
    margin: 16px 0 0 0;
  }
}

.cover__overlay {
  background-color: #2A2C2F;
  opacity: 0.3;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
}

.cover__overlay:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity .5s;
}

/*.cover__background {*/
/*  background-image: url('../images/cover-trains.jpg');*/
/*  width: min(100%, 1184px);*/
/*  height: 740px;*/
/*  margin: 92px auto;*/
/*}*/
