.cover_margin_auto {
  margin: 92px auto;
}

@media screen and (max-width: 768px) {
  .cover_margin_auto {
    margin: 90px auto 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover_margin_auto {
    margin: 66px auto 64px;
  }
}
