.cover__title {
  line-height: 1;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 72px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: calc((100vw - 320px) / (768 - 320) * (72 - 32) + 32px); /* 32 */
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.1;
    width: min(100%, 250px);
  }
}
