.footer {
  padding: 0 48px 24px;
  display: grid;
  grid-template-columns: repeat(5, min-content) 1fr min-content;
  align-items: baseline;
  grid-gap: 18px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 735px) {
  .footer {
    grid-template-columns: max-content;
    grid-template-rows: repeat(5, min-content) 1fr min-content;
    grid-gap: 32px;
    padding: 0 16px 0;

  }
}
